html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*end of reset*/

html {
  font-size: 110%;
}

body {
  font-family: "Mulish", sans-serif;
  background: rgb(255, 90, 96);
}

/* header/nav styles */

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 90%;
  margin: 1.5rem auto;
  padding-bottom: 1.2rem;
  border-bottom: 8px solid white;
}

header img {
  height: 4rem;
  width: 4rem;
}

h1 {
  font-size: 3rem;
  color: white;
}

h2 {
  font-size: 1.5rem;
  color: white;
}

h3 {
  font-size: 2.5rem;
  color: white;
}

h4 {
  font-size: 1.5rem;
  color: rgb(255, 90, 96);
  font-weight: bold;
  text-align: center;
}

nav a {
  margin-left: 2rem;
  text-decoration: none;
  color: white;
}

nav a:hover {
  font-weight: bold;
  font-size: 1.2rem;
}

span {
  font-weight: bold;
  border-bottom: 2px solid white;
  font-size: 1.1rem;
}

span a:hover {
  font-size: inherit;
}

/* main content styles*/

.content {
  display: flex;
  width: 80%;
  margin: 2rem auto;
  padding: 3rem;
  justify-content: space-between;
  align-items: center;
}

.content img {
  height: 20rem;
  width: 30rem;
}

.middle-content {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}

.flexbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-basis: 60%;
}

.one {
  margin-left: 2rem;
}

.two {
  justify-content: center;
  padding-bottom: 5rem;
}

.flexbox-pics {
  padding-left: 3rem;
  margin-bottom: 2rem;
}

.flexbox-pics img {
  height: 10rem;
  width: 10rem;
  border-radius: 6rem;
}

.flexbox p {
  text-align: left;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
}

button {
  background-color: rgb(255, 90, 96);
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  border: 4px solid white;
  border-radius: 0.5rem;
  padding: 0.7rem 1.7rem;
  margin-top: 2rem;
}

button a {
  color: inherit;
  text-decoration: none;
}

/* animation for button */

@keyframes btnHover {
  from {
    background: rgb(255, 90, 96);
    color: white;
  }
  to {
    background: white;
    color: rgb(255, 90, 96);
  }
}

button:hover {
  animation-name: btnHover;
  animation-duration: 2s;
  background: white;
  color: rgb(255, 90, 96);
}

/* bottom 3cards section */

.card-content {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 20%;
  padding: 1rem 1.5rem;
  border: 2px solid black;
  border-radius: 1rem;
  background: white;
}

.change {
  background: url("https://images.unsplash.com/photo-1567427017947-545c5f8d16ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=995&q=80")
    center/cover;
}

.vacancy {
  text-shadow: 2px 1px white;
  background: url("https://images.unsplash.com/photo-1530036846422-afb4b7af2fd4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80")
    center/cover;
}

.wrapper p {
  color: black;
}

.wrapper:hover {
  margin-top: -1rem;
  margin-bottom: 1rem;
}

/*footer styles/nav*/

footer nav {
  display: flex;
  width: 70%;
  justify-content: center;
  margin: 2rem auto 0.5rem auto;
  padding: 1rem 0;
}

footer nav a:hover {
  font-weight: bold;
  font-size: 1rem;
}

/*About styles*/

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
  margin-top: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-basis: 20%;
  padding: 1rem 0;
}

.card h2,
p {
  pointer-events: none;
  color: WHITE;
  text-align: center;
  padding-top: 1rem;
}

.card h2 {
  text-shadow: 2px 1px black;
}

.card img {
  height: 7rem;
  width: 7rem;
  border-radius: 4rem;
  margin-top: 1.3rem;
}

.icons img {
  height: 2rem;
  width: 2rem;
}

.card:hover {
  flex-basis: 19%;
  border: 2px solid black;
  border-radius: 1rem;
  background: white;
}

.card:hover h2 {
  color: rgb(255, 90, 96);
  font-weight: bold;
  text-shadow: none;
}

.card:hover p {
  color: rgb(255, 90, 96);
}

/* media queries for responsiveness*/

@media (max-width: 1200px) {
  .container {
    margin-top: 0;
  }

  footer nav {
    padding: 1rem;
  }

  html {
    font-size: 100%;
  }

  .content {
    flex-basis: 80%;
    justify-content: space-between;
  }

  .card-content {
    width: 90%;
  }

  .flexbox-pics img {
    height: 8rem;
    width: 8rem;
  }

  .flexbox p {
    line-height: 1.2rem;
  }

  .two {
    justify-content: flex-start;
  }
}

/* contact page styles */

.contact {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 2rem;
  padding: 10% 0;
  padding-left: 3rem;
}

* {
  position: relative;
}

.contact::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("https://images.unsplash.com/photo-1512626120412-faf41adb4874?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80")
    center/cover;
  opacity: 0.4;
}

.contact h1 {
  text-shadow: 4px 3px rgb(255, 90, 96);
  font-weight: bold;
  padding-bottom: 1.5rem;
}

.contact p {
  font-size: 1.5rem;
  text-shadow: 2px 1px black;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
}

input {
  width: 12rem;
}

.message {
  height: 4rem;
}

@media (max-width: 1000px) {
  .one {
    margin-left: 1rem;
  }

  .flexbox p {
    text-align: left;
    line-height: 1.1rem;
    letter-spacing: 0;
  }

  .content {
    width: 90%;
    margin: 2rem auto;
    padding: 3rem;
  }

  .content img {
    height: 16rem;
    width: 24rem;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 90%;
  }

  span {
    border-bottom: none;
  }

  h3 {
    font-size: 2rem;
  }

  .flexbox p {
    line-height: 1rem;
  }

  .flexbox-pics img {
    height: 5rem;
    width: 5rem;
  }

  button {
    font-size: 1.2rem;
    border: 2px solid white;
    border-radius: 0.5rem;
    padding: 0.6rem 1.4rem;
    margin-top: 1rem;
  }

  .content {
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
  }

  .content img {
    height: 14rem;
    width: 21rem;
  }

  .card-content {
    margin-top: 2rem;
  }

  .card {
    flex-basis: 48%;
  }

  .card:hover {
    flex-basis: 49%;
  }

  header {
    margin: 1rem auto;
    padding-bottom: 0;
  }

  header nav a {
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 85%;
  }

  .content {
    flex-direction: column;
    padding: 1rem;
  }

  .content img {
    height: 10rem;
    width: 15rem;
    margin-bottom: 1rem;
  }

  .middle-content {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .flexbox {
    flex-basis: 40%;
    margin-bottom: 1rem;
    justify-content: center;
  }

  .card-content {
    flex-direction: column;
  }

  .wrapper:hover {
    margin: 0;
  }

  .change,
  .vacancy {
    background: white;
  }

  h3 {
    font-size: 1.4rem;
  }
}

@media (max-width: 360px) {
  html {
    font-size: 80%;
  }

  header nav a {
    line-height: 1.1rem;
  }

  .content img {
    height: 10rem;
    width: 15rem;
    margin-bottom: 1rem;
  }

  .card img {
    height: 5rem;
    width: 5rem;
  }
  .icons img {
    height: 2rem;
    width: 2rem;
  }
}
